body,html{
	width: 100%;
	height: 100%;
	margin-left: 60px;
}

body{
	background-color: Azure;
	}

header h1{
	font-weight: 900;
	display: block;
	margin-left: 275px;
}

.complete{
		padding:10px 20px 10px 60px;
}
.txtfield
{
	background-color: LightGrey;
}

.about{
	padding:10px 20px 10px 20px;
}
.projects{
	padding:10px 20px 10px 10px;
}

.experiences{
padding:10px 20px 10px 20px;
}
.education{
padding:10px 20px 10px 20px;
}

.proj{
	padding-top: 5px;
	display: block;
}
.edu{
	padding-top: 5px;
}
.exp{
	padding-top: 5px;
}