body{

	width: 100%;
	height: 100%;
	background: #2d2d30;
}
.intro,body,html{
	width: 100%;
	height: 100%;
}

a:hover,a:focus {
  text-decoration: none;
  color: DarkGrey;
}

.univname{
color: black;
text-align: center;
}
.osmania{
text-align: center;
}
.col1{
	text-align: center;
}
.dl-horizontal dd{
	text-align: left;
}

.dl-horizontal dt{
	text-align: left;
	font-size: 16px;
}
.skills
{
	text-align: center;
	font-size: 14px;
	padding-left: 25px;
	padding-left: 15px;
}

.expdesc{
	padding-top: 10px;
}

.modal-body{
	text-align: justify;
}
.fa-terminal, .fa-code, .fa-cogs{
	color: Aqua;
}
@media (min-width: 768px) {

.intro
	{
		height:100%;
		padding:0
	}

.navbar-custom
	{
		padding:20px 0;
		border-bottom:0;
		letter-spacing:1px;
		background:0 0;
		-webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;
		transition:background .5s ease-in-out,padding .5s ease-in-out
	}

.navbar-custom a{
	font-size: 12px;
}
.navbar-custom .navbar-brand{
	font-size: 18px;
}

.navbar-custom.top-nav-collapse
	{
		padding:10px 0px;
		border-bottom:1px solid #ededed;
		background:#2d2d30;
	}
.navbar{
	min-height: 60px;
}

.osmania{
text-align: center;
font-size: 12px;
}
.col1{
	text-align: center;
}
.dl-horizontal dd{
	margin-left: 330px;
	text-align: left;
	margin-bottom: 50px;
	padding-top: 10px;
}

.dl-horizontal dt{
	width: 300px;
	text-align: left;
	font-size: 18px;
}
.skills
{
	text-align: center;
	font-size: 16px;
	padding-left: 100px;
	padding-right: 50px;
}

	
}

@media (max-width: 768px){
	.navbar-custom .navbar-brand
	{
		font-size:20px
	}
}

.fa-bars,.intro,.scroll-btn
{
	color:#fff;
}
.scroll-btn:hover, .scroll-btn:focus{
	color: rgba(124,13,13,1);
}
@media (min-width: 992px) {

.navbar-main-collapse{
	background: null;
}
}


.navbar-brand{
	color: #FFFFFF;
	font-size: 24px;
}

#contact{
	color: #fff;
}
/*------------------------------------------------------------------------------
Navbar CSS*/

.navbar-custom {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s;
  border-bottom:1px solid rgba(255,255,255,.3);
  margin-bottom:0;
  background-color:#2d2d30;
}

.navbar-custom .navbar-brand {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 23px;
  font-family: Georgia, serif;
  letter-spacing: 4px;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}
.navbar-toggle{
	color:white;
}

.navbar-custom a {
  color: #fff;
  font-size: 15px;
  border: 2px solid transparent;
}

.navbar-custom .nav li{
	padding: 3px 3px 3px 3px;
}
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  text-align: right;
  padding: 1px 15px;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(124,13,13,1);
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-main-collapse{
	padding-top: 0px;
	background: #2d2d30;
}

@media (min-width:480px) and (max-width:767px){
	.navbar-main-collapse{
	background: transparent;
}

.projects .col-sm-4 {
    margin: 0px 60px;
}


}
.mypic {
  height: 22%;
  width:22%;
}

.pic {
  margin:10px 0 15px 0;
}

.profilepic{
	padding-top: 15px;
}
.intro {
	height:100%;
	padding:100px 0;
	text-align: center;
	background-image: url(../img/bg.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	display: table;
}

.intro .intro-body{
	display: table-cell;
	vertical-align: middle;
}
.intro .intro-body .myname{
font-weight: 700px;
letter-spacing: 1.3px;
font-size: 30px;
color: #fff;
}

.intro .intro-body .mytitle{
	font-size: 28px;
	font-weight: 700px;
	text-transform: capitalize;
	color: #fff;
}

.pTitle{
	font-weight: bold;
	font-size: 20px;
}
.pSkills{
	padding-right: 10px;
	font-size: 20px;
}

.pDescription{
	font-size: 16px;
}
.arrow{
	font-weight: bold;
}

.education, .industryexp , .projects, .contactheader
{
	color: #fff;
    padding-top: 40px;
}

.education1, .industryexp1 , .projects1, .contact1
{
	color: #fff;
    height: 40px;
}

.industryexp .row{
	padding-bottom: 25px;
}

.expinfo{
	font-style: bold;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.6;
	text-align: justify;
}

.expdesc{
	font-size: 15px;
	line-height: 1.6;
	display: flex;
	display: -webkit-flex;
	text-align: justify;
}
.expdesc p {
	display: flex;
	display: -webkit-flex;
	-webkit-align-items:center
	align-items:center;
}
.eduinfo{
	font-size: 16px;
	line-height: 1.6;
	text-align: justify;
	color:black;

}

h3{
	font-size: 20px;
	letter-spacing: 1px;
}
.eduinfo .row{
	padding: 10px 0px 10px 0px;
}

.eduinfo .row .col2{
	font-weight: bold;
	text-align: center;
}

.eduwell{
margin-left: 10px;
margin-right: 10px;
}
.copyright{
	letter-spacing: 1px;
}
.proj{
	font-size: 16px;
	line-height: 1.6;
	font-weight: 900;
	text-align: justify;
}
.pdesc p{
	font-size: 16px;
	line-height: 1.6;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items:center
	align-items:center;
}

.pdesc{
	font-size: 16px;
	line-height: 1.6;
	display: flex;
	display: -webkit-flex;
	text-align: justify;
}

.projects .col-sm-4{
  	color: black;
  }


@media (min-width: 768px) {
	.projects .col-sm-4{
padding: 0px 150px;
	}
.navbar-custom{
	background-color: transparent;
	border-bottom: none;
}
.navbar-header{
	margin-left: 25px;
}
.container{
	width: auto;
}
}
.btn {
      padding: 10px 20px;
      background-color: #2d2d30;
      color: #fff;
      border-radius: 0;
      transition: .2s;
  }

.btn:focus, .btn:hover{
	color: #4bbabe;
}
  .project {
      background: #2d2d30;
      color: #fff;
  }
  

  .text-center{
  	padding-bottom: 10px;
  }
  .project p {font-style: italic;
  }

  .projects .col-sm-4{
  	color: black;
  }

  .link {
  font-size: 17px;
}

.link a {
  color: #4bbabe;
}

.link a:hover {
  color: #272727;
}

footer{
    text-align: center;
    background-color: #272727;
    color: #fff;
}
footer .container{
	padding-top: 40px;
	padding-bottom: 20px;
}

footer span.copyright {
    text-transform: uppercase;
}

.edit{
	height: 50px;
	text-align: right;
	background: #fff;
	padding-top: 15px;
	padding-right: 25px;
}

.contact{
	display: block;
	height: 100%;
	text-align: center;
}

.col-sm-11{
	padding-bottom: 10px;
}

h4{
	color: black;
	padding-top: 0px;
	font-weight: 600;
	margin-top: -15px;
}


@media (min-width: 768px) and (max-width: 991px){

.mypic {
  height: 16%;
  width:16%;
}

.projects .col-sm-4{
padding: 0px 15px;
	}


.eduwell{
	margin-left: 40px;
	margin-right: 40px;
}

.header{
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-custom .navbar-brand {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.navbar-custom a {
    font-size: 13px;
}

.navbar-custom .nav li {
    padding: 0px;
}

.nav{
	margin-right: 15px;
}
}

@media (min-width: 768px){
.navbar-main-collapse{
	background:none;
	padding-top: 15px;
}

.thumbnail{
	width: 250px;
	height: 300px;
}

}
p{
		font-size: 16px;
}

@media (min-width: 1200px) {
	.navbar-custom .container{
		width: 1170px;
	}
}
@media (min-width: 992px) {
.mypic {
  height: 16%;
  width:16%;
}

.thumbnail{
	width: 300px;
	height: 300px;
}

.container{
	width: 970px;
}
.projects .col-sm-4{
	padding: 0px 15px;
		}
#proj .col-sm-4{
	margin: 0px 0px;
}

}
.list-inline > li{
	padding: 0px 10px;
}
ul.social-buttons li a
			{
				-webkit-transition:all .3s;
				-moz-transition:all .3s;
				transition:all .3s
			}